<section class="chat-messages">
    
    {{#if ready}}
    {{> scoreboard}}
    {{/if}}

   
        <ul class="chat-logs" id="chat-logs">
            {{#each this.messageArray}}
            <div class="message">
                <p class="message-header"> {{this.id}} | @ {{this.timestamp}} </p>
                <p class="message-content"> {{this.content}} </p>
            </div>

            <br class="message-break">
            {{/each}}
        </ul>
        <div class="chat-incoming">
            <div class="chat-outgoing">
                <div class="chat-bar">
                    <input type="text" id="chat-text-input" class="chat-text" placeholder="Hello here is some text I'm gonna send soon">
                    </input>
                </div>
                <div class="chat-send">
                    <button id="send-text"> Send</button>
 
                </div>
            </div>
        </div>
 
</section>


