<div class="scoreboard" id="scoreboard">
  {{#each players}}
  <div class="player-data">
    <div class="player-name" id="{{id}}"> {{name}} </div>
    <div class="player-score" id="{{id}}"> {{score}}</div>
  </div>
  {{/each}}
</div>
<div class="scoreboard-buffer"></div>