<div class="tile-rack-wrapper">
    <div class="tile-wrapper"> 
    {{#each tiles}}
    <div class="tile"> 
        <p class="tile-letter"> {{this.letter}} </p> 
        <p class="tile-value"> {{this.value}} </p>
    </div>
    {{/each}}
    </div>
    <div class="tile-rack"></div>
    <div class="tile-rack-bottom-buffer"> </div>
</div> 