<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>{{title}}</title>
</head>

<body>
  {{{body}}}
</body>
{{!-- client socket script --}}
<script src="/socket.io/socket.io.js"></script>
<script>
  /* global socket obj */
  const socket = io();
</script>
{{!-- INCLUDE SCRIPTS WHERE WE NEED CLIENT SOCKETS! --}}
<script src="/javascript/frontend.js"></script>
<script src="/javascript/chat.js"></script>
<script src="/javascript/test.js"></script>
<script src="/javascript/lobby.js"></script>
<script src="/javascript/browseLobby.js"></script>
<script src="/javascript/scoreboard.js"></script>

</html>