<h1 id="title">Game Search</h1>
<div class="page-container">
    <div class="options-container">
        <button>Create Lobby</button>
        <form>
            <input type="text" id="code" name="code" placeholder="Use room code">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="lobby-search-container"></div>
</div>