doctype html
link(rel='stylesheet', href='browseLobby.css')
style
    include browseLobby.css
head
 title
   | Lobby
 meta(name='viewport' content='width=device-width, initial-scale=1')
div(id='left')
    button(id='create-lobby' type='button') Create Lobby
div(id='right')
    form
        input(type='text' name='fname' id='use-roomcode' placeholder="Join using a room code")
        input(type='submit' value='Join' id='use-roomcode-submit')

div(id='lobby-list')
    div(id='lobby')
        div(id='inner-lobby')
            p(id='lobby-text') test lobby
        div(id='inner-lobby')
            p(id='lobby-text') mcscrabbler
        div(id='inner-lobby')
            p(id='lobby-text') 2/4
    div(id='lobby')
        div(id='inner-lobby')
            p(id='lobby-text') hangin out
        div(id='inner-lobby')
            p(id='lobby-text') sheepdog
        div(id='inner-lobby')
            p(id='lobby-text') 3/4
    div(id='lobby')
        div(id='inner-lobby')
            p(id='lobby-text') scrabblebabble
        div(id='inner-lobby')
            p(id='lobby-text') potatohead
        div(id='inner-lobby')
            p(id='lobby-text') 1/4
    div(id='lobby')
        div(id='inner-lobby')
            p(id='lobby-text') hello
        div(id='inner-lobby')
            p(id='lobby-text') xxscrabledude96
        div(id='inner-lobby')
            p(id='lobby-text') 2/4
