<div class="page-container">
    <div class="options-container">
        <form action="/game/create">
            <button type="submit" class="button">Create Lobby</button>
        </form>
        <form class="button">
            <input type="text" id="code" name="code" placeholder="Use room code">
            <input type="button" value="Join" onclick="joinWithCode(document.getElementById('code').value)">
        </form>
        <script>
            function joinWithCode(gameId) {
                window.location.href = `/lobby/${gameId}`, true;
            }
        </script>
        </body>
    </div>
    <div class="lobby-search-header">
        <div class="lobby-section">Lobby ID</div>
        <div class="lobby-section">Game Started</div>
        <div class="button-section"></div>
    </div>
    <div class="lobby-search">
        {{#each lobbies}}
        <div class="lobby" id="lobby">
            <div class="lobby-section" id="lobby-id">
                {{id}}
            </div>
            <div class="lobby-section">
                {{in_lobby}}
            </div>
            <button class="button-section" id="join-lobby">
                Join
            </button>
            <script>
            </script>
        </div>
        {{/each}}
    </div>
</div>