<h1 id="title">Game Search</h1>
<div class="page-container">
    <div class="options-container">
        <button class="button">Create Lobby</button>
        <form class="button">
            <input type="text" id="code" name="code" placeholder="Use room code">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="lobby-search-header">
        <div class="inner-lobby">Lobby Name</div>
        <div class="inner-lobby">Host</div>
        <div class="inner-lobby">Players</div>
    </div>
    <div class="lobby-search">
        <script>
            console.log("Running browse lobby script...");

            var lobbies = [
                {
                    id: 1,
                    name: "Test Lobby",
                    host: "Bob Jones",
                    players: 4
                },
                {
                    id: 2,
                    name: "Come play Scrabble",
                    host: "Damon",
                    players: 2
                },
                {
                    id: 3,
                    name: "Fun times",
                    host: "Johnson",
                    players: 3
                }
            ]

            for (i = 0; i < lobbies.length; i++) {
                var lobbyDiv = document.createElement('div');
                lobbyDiv.className = "lobby";
                lobbyDiv.body = "test";
                document.getElementsByClassName("lobby-search")[0].appendChild(lobbyDiv);
                var nameDiv = document.createElement('div');
                var hostDiv = document.createElement('div');
                var playersDiv = document.createElement('div');

                nameDiv.className = "inner-lobby";
                hostDiv.className = "inner-lobby";
                playersDiv.className = "inner-lobby";

                nameDiv.textContent = lobbies[i].name;
                hostDiv.textContent = lobbies[i].host;
                playersDiv.textContent = lobbies[i].players + " / 4";
                console.log("Lobby name: " + nameDiv.text + ", Host: " + hostDiv.text + ", players: " + playersDiv.text);
                lobbyDiv.appendChild(nameDiv);
                lobbyDiv.appendChild(hostDiv);
                lobbyDiv.appendChild(playersDiv);
            }
        </script>
    </div>
</div>