<div class="board-and-tiles"> 
<div class="game-board"> 
    {{#each boardSquares}}
        <div class="{{type}}" id="{{x}},{{y}}">
            <p>{{text}}</p>
        </div>
    {{/each}}
  
</div>
 
{{> tileRack}}

</div>