<div class="board-tiles-messages"> 

<section class="game-board"> 
    {{#each boardSquares}}
        <div class="{{type}}" id="{{x}},{{y}}">
            <p>{{text}}</p>
        </div>
    {{/each}}
  
</section>
{{> tileRack}}
{{> chatMessages messageArray=messages}}
</div>