<div id="index-container">
  <div class="background">
    <div class="title-container">
      <h1>{{title}}</h1>
    </div>
    <div class="link-container">
      <br>
      <button>
        <a href="register">Register</a>
      </button>
      <br>
      <button>
        <a href="login">Login</a>
      </button>
      <br>
      <button>
        <a href="/game/create">Create a game</a>
      </button>
    </div>
  </div>
</div>