<h1 class="lobby-title">Game Lobby</h1>
<h1 class="lobby-title">Room Code AE25</h1>
<section class="lobby-chat-container">
  <div class="lobby-window">
    <div class="inner-lobby">
      <div class="player player-one-glow">
        <p class="player-text">Player 1</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-two-glow">
        <p class="player-text">Player 2</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-three-glow">
        <p class="player-text">Player 3</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
      <div class="player player-four-glow">
        <p class="player-text">Player 4</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
    </div>
  </div>
    {{> chatMessages messageArray=messages}}
</section>


