<h1 id="title">Game Lobby</h1>
<h1 id="title">Room Code AE25</h1>
<div class="lobby-chat-container">
  <div class="lobby-window">
    <div class="inner-lobby">
      <div class="player player-one-glow">
        <p class="player-text">Player 1</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-two-glow">
        <p class="player-text">Player 2</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-three-glow">
        <p class="player-text">Player 3</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
      <div class="player player-four-glow">
        <p class="player-text">Player 4</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
    </div>
  </div>
  <div class="chat-window">
      {{!-- div <- handlebars partial for incoming chat --}}
      {{!-- Likely going to need a wrapper like chat-outgoing, call it chat-incoming --}}
     <div class="chat-incoming"> 
    {{> chatMessages messageArray=messages}}
    </div>

      <div class="chat-outgoing">
       

       {{> outgoingMessages}}
       
      <div class="chat-send">
        <button id="send-text" onsubmit="">Send</button>
      </div>
    </div>
  </div>
</div>


