<h1 class="lobby-title">Game Lobby</h1>
<h1 class="lobby-title">Room Code AE25</h1>

<form method="POST" action="/users/logout">  <input type="submit" value="Submit"> log out </input>  </form>

 <ul id="messages"></ul>
    <form id="form" action="">
      <input id="input" autocomplete="off" /><button>Send</button>
    </form>

<script src="/socket.io/socket.io.js"></script>

      <script>
       var socket = io();
        var messages = document.getElementById('messages');
        var form = document.getElementById('form');
        var input = document.getElementById('input');
        form.addEventListener('submit', function(e) {
          e.preventDefault();
                if (input.value) {
                
                  socket.emit('chat message', input.value);
                  input.value = '';
                }
              });
                
              socket.on('chat message', function(msg) {
              var item = document.createElement('li');
              item.textContent = msg;
              messages.appendChild(item);
              window.scrollTo(0, document.body.scrollHeight);
              });
              
              socket.on('disconnect', () => {
              console.log('user disconnected :(');
              });
            </script>

<section class="lobby-chat-container">
  <div class="lobby-window">
    <div class="inner-lobby">
      {{#each players}}
      <div class="player-container">
        <div class="player-section">
          <p class="player-text">{{username}}</p>
        </div>
      </div>
      {{/each}}
      <button class="start-button" onclick="startGame({{gameId}})">Start Game</button>
      <button class="leave-button" onclick="leave({{gameId}})">Leave</button>
    </div>
  </div>
  {{> chatMessages messageArray=messages}}
</section>
<script>
  function startGame(gameId) {
    window.location.href = `/game/${gameId}`, true;
  }
</script>
<script>
  function leave(gameId) {
    window.location.href = `/lobby/leave/${gameId}`, true;
  }
</script>