doctype html
link(rel='stylesheet', href='lobby.css')
style
    include lobby.css
head
 title
   | Lobby
 meta(name='viewport' content='width=device-width, initial-scale=1')
h1(id='title') Game Lobby
h1(id='title') Room Code AE25
div(id='left')
   div(id='inner')
       div(id='player')
           p(id='player-text') Player 1
       div(id='ready')
           p(id='ready-text') Ready
       div(id='player')
           p(id='player-text') Player 2
       div(id='ready')
           p(id='ready-text') Ready
       div(id='player')
           p(id='player-text') Player 3
       div(id='not-ready')
           p(id='ready-text') Not Ready
       div(id='player')
           p(id='player-text') Player 4
       div(id='not-ready')
           p(id='ready-text') Not Ready
div(id='right')
   h1(id='chat-title') Lobby Chat Window
   div(id='chat-bar')
       p(id='chat-text') Hello here is some text I'm gonna send soon
   div(id='chat-send')
       p(id='send-text') Send