<h1 id="title">Game Lobby</h1>
<h1 id="title">Room Code AE25</h1>
<div class="lobby-chat-container">
  <div class="lobby-window">
    <div class="inner-lobby">
      <div class="player player-one-glow">
        <p class="player-text">Player 1</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-two-glow">
        <p class="player-text">Player 2</p>
      </div>
      <div class="ready">
        <p class="ready-text">Ready</p>
      </div>
      <div class="player player-three-glow">
        <p class="player-text">Player 3</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
      <div class="player player-four-glow">
        <p class="player-text">Player 4</p>
      </div>
      <div class="not-ready">
        <p class="ready-text">Not Ready</p>
      </div>
    </div>
  </div>
  <div class="chat-window">
    
      {{!-- div <- handlebars partial for incoming chat --}}
      <div class="chat-inner">
      <div id="chat-bar">
        <p id="chat-text">Hello here is some text I'm gonna send soon</p>
      </div>
      <div id="chat-send">
        <p id="send-text">Send</p>
        {{!-- <h1 id="chat-title">Lobby Chat Window</h1> --}}
      </div>
    </div>
  </div>
</div>