extends layout 

block content
  h1 #{title}
  
  div(id="username")
  | username: 
  input(type='text', id='username', placeholder='username')
  div(id="password")
  |          password: 
  input(type="password", id='password', placeholder='password')
  div(id="password-confirmation")
  |          confirm password: 
  input(type="password", id='password-confirmation', placeholder='confirm password')
  |
  div(id="submit-button")
  input(type='submit', value="Submit")


