<div class="auth-container">
    <form method="POST" action="/users/login">
        <fieldset class="form-container">
            <div class="form-field">
                <label class="form-name">Username</label>
                <input type="text" required name="username" class="form-input" />
            </div>
            <div class="form-field">
                <label class="form-name">Password</label>
                <input type="password" required name="password" class="form-input" />
            </div>
            <br />
        </fieldset>
        <div class="button-container">
            <button type="submit" class="form-button">Login</button>
        </div>
    </form>
</div>