<div class="auth-container">
    <form method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        <fieldset class="form-container">
            <div class="form-field">
                <label class="form-name">Username</label>
                <input type="text" required name="username" class="form-input" id="username" required />
            </div>
            <div class="form-field">
                <label class="form-name">Password</label>
                <input type="password" required name="password" class="form-input" id="password" required />
            </div>
            <div class="form-field">
                <label class="form-name">Confirm Password</label>
                <input type="password" required name="confirm-password" class="form-input" id="confirmPassword"
                    required />
            </div>
            <br />
        </fieldset>
        <div class="button-container">
            <button type="submit" class="form-button">Register</button>
        </div>
    </form>
</div>