html{
    background-color:rgb(78, 78, 78);
 }
 
 body {
   margin:0;
   padding:0;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }
 ul {
    margin: 0;
    padding: 0; 
}


/****************************/
/*     Game Board style    */
/****************************/

.board-tiles-messages{
    display: grid;
    width: 100%;
    height:100%;
    grid-template-areas:
    "board board board board chat" 
    "board board board board chat"
    "board board board board chat"
    "board board board board chat"
    "tiles tiles tiles tiles chat"
    ;
} 
  
#game-board{
    grid-area:board;
    display:grid;
    transform:translate(0%, 5%);
    grid-template-columns: repeat(15, 2.5vw);
    grid-template-rows: repeat(15, 2.5vw); 
    gap:0.2vw;
    justify-content:center;
    align-content:center;
}
  
.l-1-w-1{
    background-color:rgb(200,156,84);
    margin:0;
    padding:0;
}
  
.l-2-w-1{
    background-color:orangered;
    margin:0;
    padding:0;
}
  
.l-2-w-1 > p{
    display:flex;
    align-self:center;
    justify-content:center;
    margin:0;
    padding:0;
}
  
.l-1-w-2{
    background-color:red;
    align-content:center;
    margin:0;
    padding:0;
}
  
.l-1-w-2 > p{
    display:flex;
    align-self:center;
    justify-content:center;
    margin:0;
    padding:0;
  
}
  
.l-3-w-1{
    background-color:plum;
    margin:0;
    padding:0;
}
  
.l-3-w-1 > p{
    display:flex;
    align-self:center;
    justify-content:center;
    margin:0;
    padding:0;
}
  
.l-1-w-3{
    background-color:purple;
    margin:0;
    padding:0;
}
  
.l-1-w-3 > p{
    display:flex;
    align-self:center;
    justify-content:center;
    margin:0;
    padding:0;
}
  
.l-2-w-2{
    background-color:lightseagreen;
    display:flex;
    align-self:center;
    justify-content:center;
    margin:0;
    padding:0;
}
  
.center > p{
    display:flex;
    align-self:center;
    justify-content:center;
    overflow:hidden;
    margin:0;
    padding:0;
}
  
.played-square{
    display:grid;
    grid-template-areas: 
                        "...... ...... ...... ......"
                        "...... letter letter ......"
                        "...... letter letter value"
                        "...... ...... ...... value";
    width:auto;
    height:auto;
    background-color:rgb(200,156,84);
}

.played-square p:nth-child(1){
    display:grid;
    grid-area:letter;
    width:auto;
    height:auto;
}

.played-square p:nth-child(2){
    display:grid;
    grid-area:value;
    width:auto;
    height:auto;
}

  /****************************/
  /*    Tile Rack Style       */
  /****************************/

.tile-rack-bag-wrapper{
    display:flex;
    flex-direction:row;
    width:100%;
}

.tile-rack-wrapper{
    transform:translate(0%, 35%);
    display:flex;
    flex-direction:column;
}
  
#tile-wrapper{
    grid-area:tiles;
    display:flex;
    align-items:center;
    justify-content:center;
    transform:translate(30%,35%);
    width:40vw; 
    z-index:1; 
    gap:5px;
}
  
.tile{
    display:flex;
    background-color:rgb(201, 145, 57);
    width:6vh;
    height:6vh;
    max-height: 6vh;
    max-width: 6vh;
    min-height: 4vh;
    min-width: 4vh;
    border-radius:5px;
}
  
.tile-letter{
    display:flex; 
    align-self:center;
    justify-self:center;
    transform:translate(230%);
}

.tile-value{
    transform:translate(350% , 70%);
}

.tile-rack{
    display:flex;
    align-self: center;
    justify-self:center;
    background-color: black;
    transform:translate(12vw, 1vh);
    height: 2vh;
    width: 50vh;
    max-height: 2vh;
    max-width: 55vh;
    min-height: 2vh;
    min-width: 50vh;
    border-radius: 10px;
}

.bag-icon-wrapper{
    display:flex;
    transform:translate(16vh, 4vh);
    background-color:rgb(78, 78, 78);
    border:0;
}

.bag-your-turn{
    background-color:green;
}

.bag-not-your-turn{
    background-color:red;
}

.bag-icon-wrapper > p{
    display:flex;
    transform:translate(-7vh, 2.5vh);
    color:white;
    font-size:25px;
}

.play-word-wrapper{
    display:flex;
}

#play-word-button{
    display:flex;
    width: 5vw;
    height:3vh;
    transform:translate(18vh, 8vh);
}

#play-word-button > p{
    display:flex;
    align-self: center;
    justify-self:center;
}

/****************************/
/* Chat partial game style  */
/****************************/

.chat-messages-game {
    grid-area:chat;
    display:flex;
    flex-direction: column;
    width:23vw;
    height: 90vh;
    transform:translate(0%, 5%);
    background-color:rgb(149, 146, 146);
    border-radius: 5px;
   
}

.scoreboard{
    background-color:rgb(200, 200, 200);
    padding: auto;
    display: grid;
    height: auto;
    padding-top:1vh;
    gap:0.2vw;
    grid-template-columns: repeat(3,auto);
    grid-auto-rows:  2.5vw;
    border: 1px solid black;
    padding-bottom: 10px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 }

 .player-data{
    grid-column-start: 2;
    grid-column-end: 3;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr;
    flex-direction:row;
    border: 1px solid #000;
	grid-gap: 1px;
    border-color:black;
    border-radius:20px;
 }

 .player-name{
    grid-area:name;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content:flex-start;
    text-align: center;
    text-justify: center;
    margin: auto;
 }
 
 .player-score{
    grid-area:score;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    text-justify: center;
    margin: auto;
 }
   
 .scoreboard-buffer{
    padding: 5px;
    background-color: rgb(78, 78, 78);
 }
 
.chat-incoming-game{
    display:flex;
    flex-direction: row;
    align-items: justify;
    width: 100%;
    height: 90%;
    border: 1px solid black;
    border-top: 0;
    border-radius: 5px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
}

.chat-logs-game{
    height: 90%;
    width: 100%;
    margin:auto;
    padding:auto;
    padding-top:1vh;
    border: 1px solid black;
    border-bottom: 0;
}

.chat-wrapper{
    height: auto;
    border: 1px solid black;
    width: auto;
    display: flex;
}
  
.message-game{
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding:auto;
    width:20vw;
    height:10vh;
    
}
  
.message-break-game{
    height: 20%;
}

.message-header-game{
    padding-left: 5px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;     
}

.message-content-game{
    padding-left: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

.chat-outgoing-game{
    display:flex;
    flex-direction: row;
    align-items: justify;
    justify-content: space-between;
    margin-block-start:auto;
    height: 5vh;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-bottom:1vh;
   
}
  
.chat-text{
    font-size: medium;
    width: 90%;
    height: 90%;
    float: center;
    margin: auto;
    overflow: scroll;
    border-style: none;
}

.chat-bar-game {
    align-self: flex-start ; 
    display: flex;
    flex-wrap:nowrap;
    order: 1;
    height: 90%;
    width: 18vw;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}  

.chat-send-game {
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
    order: 2;
    height: 90%;
    width: auto;
    margin: auto;
    margin-left:1vh;
    background-color: rgb(31, 194, 39);
}
    
#send-text-game {
    justify-content: center;
    align-items: center;
    text-align:center;
    font-family: Arial, sans-serif;
    color:black;
    font-size: 18px;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 128, 8, .10 );
}
  
#send-text-game:hover {
    cursor: pointer;
}
    
#chat-text-game {
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: Arial, sans-serif;
    color:black;
    font-size: 18px;
}

