html {
    background-color: rgb(78, 78, 78);
}

body {
    margin: 0;
    padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/*********************/
/* Lobby page style  */
/*********************/

.lobby-chat-container {
    display: flex;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    height: 90%;
    margin: 0;
}

.lobby-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
}

.lobby-window {
    justify-content: space-evenly;
    display: flex;
    width: 75%;
    height: 90vh;
    background-color: rgb(230, 230, 230);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    border: 1px solid red;
}

.inner-lobby {
    justify-content: center;
    align-items: center;
    align-self: center;
}

.player {
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 5vh;
    width: 20vw;
    background-color: transparent;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: blue;
    border: 1px solid red;
    display: flex;
}

.player-text {
    color: red;
}

.player-one-glow {
    /* green ->  rgb(85,115,21) */
    box-shadow: 0px 0px 15px rgb(115, 21, 21);
    border: 1px solid rgb(115, 21, 21);
}

.player-two-glow {
    /* blue - > rgb(51,86,109) */
    box-shadow: 0px 0px 15px rgb(51, 86, 109);
    border: 1px solid rgb(51, 86, 109);
}

.player-three-glow {
    /*  green ->  rgb(85,115,21) */
    box-shadow: 0px 0px 15px rgb(85, 115, 21);
    border: 1px solid rgb(85, 115, 21);
}

.player-four-glow {
    /*  yellow ->  rgb(85,115,21) */
    box-shadow: 0px 0px 15px rgb(184, 173, 17);
    border: 1px solid rgb(184, 173, 17);
}

/****************************/
/* Chat lobby partial style */
/****************************/

.chat-message {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90vh;
    background-color: rgb(149, 146, 146);
    border: 1px solid black;
    border-radius: 5px;
}

.chat-incoming-lobby {
    display: flex;
    flex-direction: row;
    align-items: justify;
    width: 100%;
    height: 90%;
}

.chat-logs-lobby {
    height: 90%;
    width: 100%;
    padding-left: 3%;
    padding: 20px;
}

.chat-outgoing-lobby {
    display: flex;
    flex-direction: row;
    align-items: justify;
    justify-content: space-between;
    margin-block-start: auto;
    height: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

.chat-bar-lobby {
    align-self: flex-start;
    display: flex;
    flex-wrap: nowrap;
    order: 1;
    height: 90%;
    width: 75%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    margin: auto;
}

.chat-text-lobby {
    font-size: medium;
    width: 90%;
    height: 90%;
    float: center;
    margin: auto;
    overflow: scroll;
    border-style: none;
}

.chat-send-lobby {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 2;
    height: 90%;
    width: auto;
    margin: auto;
    background-color: rgb(31, 194, 39);
    border: 1px solid black;
}

#send-text {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 18px;
    margin: auto;
    height: 100%;
    background-color: rgba(0, 128, 8, .10);
}

#send-text:hover {
    cursor: pointer;
}

#chat-text {
    justify-content: left;
    align-items: left;
    text-align: left;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 18px;
}

.message-lobby {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: auto;
}

.message-break-lobby {
    height: 20%;
}

.message-header-lobby {
    padding-left: 5px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

.message-content-lobby {
    padding-left: 10px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.player-section {
    display: flex;
    flex: 80%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-decoration-color: black;
    border: 1px solid black;
    width: 35vw;
    height: 10vh;
    margin: 10px;
}

.button-section {
    display: flex;
    flex: 20%;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-left: 300px;
}

.player-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 24px;
}

.leave-button {
    margin: 50px;
}

.start-button {
    margin: 50px;
}