html{
   background-color:rgb(78, 78, 78);
}

body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  /* color: #00B7FF; */
}

ul {
  margin: 0;
  padding-left:0; 
  list-style: none;
}

li {
  padding-left:25px;
  padding-top:6px;
  padding-bottom:4px;
}


/****************************/
/* login/register page style */
/****************************/
.auth-container{
  display:absolute;
  align-self:center;
  justify-self: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  width:23%;
  /* height: 90%; */
  margin-left: 35%;
  margin-right:40%;
  margin-top:5%;
  overflow:hidden;
  text-shadow:0 0 1px darkgray;
  border-radius:5px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-self:center;
  justify-self: center;
  background-color: rgb(200,156,84);
  border-radius:5px;
  border-color:rgba(0, 0, 0, 0.3);   
  margin:1vh;
}


.form-field{
  display:flex;
  flex-direction:row;
  justify-content: space-around;
}

.form-name{   
   width: 30%;
   min-width: 100px;
}

.form-input{
  width: 70%;
  min-width: 100px;
}

.button-container{
  background-color:rgb(200,156,84);
  display:flex;
  flex-direction:row;
  justify-self: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  border-radius:5px;
  justify-content:space-around;
  margin-bottom: 1vh;
}

.form-button{
  width:80%;
  border:0px;
  margin: 0.5vh;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  border-radius:2px;
}

/****************************/
/* Lobby Search page style  */
/****************************/

.page-container{
  display: flex;
  flex-direction: column;
  justify-self:center;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top:70px;
  width: 100%;
  height: 100%;
}

.options-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:50%;
  height: 15vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
  border-radius: 5px;
  background-color:rgb(201, 145, 57);
}

.button {
  margin: 50px;
}

.browse-title{
  align-self: center;
  justify-self: center;
  transform:translate(750px);
}

.lobby-search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:50%;
  height: 5vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
  border-radius: 5px;
}

.lobby-search {
  width:50%;
  height: 60vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  background-color:rgb(201, 145, 57);
}

.lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:100%;
  height: 10vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
}

.lobby:hover {
  background-color: gray;
}

.lobby-section {
  display: flex;
  flex: 30%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button-section {
  display: flex;
  flex: 10%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/****************************/
/* Chat partial game style  */
/****************************/

.chat-messages-game {
  grid-area:chat;
  display:flex;
  flex-direction: column;
  width:23vw;
  height: 90vh;
  transform:translate(0%, 5%);
  background-color:rgb(149, 146, 146);
  border-radius: 5px;
}

.scoreboard{
  background-color:rgb(200, 200, 200);
  padding: auto;
  display: grid;
  height: auto;
  padding-top:1vh;
  gap:0.2vw;
  grid-template-columns: repeat(3,auto);
  grid-auto-rows:  2.5vw;
  border: 1px solid black;
  padding-bottom: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.player-data{
  grid-column-start: 2;
  grid-column-end: 3;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr;
  flex-direction:row;
  border: 1px solid #000;
grid-gap: 1px;
  border-color:black;
  border-radius:20px;
}

.player-name{
  grid-area:name;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-content:flex-start;
  text-align: center;
  text-justify: center;
  margin: auto;
}

.player-score{
  grid-area:score;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
  text-justify: center;
  margin: auto;
}
 
.scoreboard-buffer{
  padding: 5px;
  background-color: rgb(78, 78, 78);
}

.chat-incoming-game{
  display:flex;
  flex-direction: row;
  align-items: justify;
  width: 100%;
  height: 90%;
  border: 1px solid black;
  border-top: 0;
  border-radius: 5px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.chat-logs-game{
  height: 90%;
  width: 100%;
  margin:auto;
  padding:auto;
  padding-top:1vh;
  border: 1px solid black;
  border-bottom: 0;
}

.chat-wrapper{
  height: auto;
  border: 1px solid black;
  width: auto;
  display: flex;
}

.message-game{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
  padding:auto;
  width:20vw;
  height:10vh;
  padding-left:30px;
}

.message-break-game{
  height: 20%;
}

.message-header-game{
  padding-left: 5px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0%;     
}

.message-content-game{
  padding-left: 10px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0%;
}

.chat-outgoing-game{
  display:flex;
  flex-direction: row;
  align-items: justify;
  justify-content: space-between;
  margin-block-start:auto;
  height: 5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom:1vh;
 
}

.chat-text{
  font-size: medium;
  width: 90%;
  height: 90%;
  float: center;
  margin: auto;
  overflow: scroll;
  border-style: none;
}

.chat-bar-game {
  align-self: flex-start ; 
  display: flex;
  flex-wrap:nowrap;
  order: 1;
  height: 90%;
  width: 18vw;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}  

.chat-send-game {
  display: flex;
  flex-direction:column;
  flex-wrap:nowrap;
  order: 2;
  height: 90%;
  width: auto;
  margin: auto;
  margin-left:1vh;
  background-color: rgb(31, 194, 39);
}
  
#send-text-game {
  justify-content: center;
  align-items: center;
  text-align:center;
  font-family: Arial, sans-serif;
  color:black;
  font-size: 18px;
  margin: auto;
  height: 100%;
  background-color: rgba(0, 128, 8, .10 );
}

#send-text-game:hover {
  cursor: pointer;
}
  
#chat-text-game {
  justify-content: left;
  align-items: left;
  text-align: left;
  font-family: Arial, sans-serif;
  color:black;
  font-size: 18px;
  width:auto;
}

/****************************/
/*     Game Board style    */
/****************************/

.board-tiles-messages{
  display: grid;
  width: 100%;
  height:100%;
  grid-template-areas:
  "board board board board chat" 
  "board board board board chat"
  "board board board board chat"
  "board board board board chat"
  "tiles tiles tiles tiles chat"
  ;
} 

#game-board{
  grid-area:board;
  display:grid;
  transform:translate(0%, 5%);
  grid-template-columns: repeat(15, 2.5vw);
  grid-template-rows: repeat(15, 2.5vw); 
  gap:0.25vw;
  justify-content:center;
  align-content:center;
}

.l-1-w-1{
  background-color:rgb(200,156,84);
  margin:0;
  padding:0;
}

.l-2-w-1{
  background-color:rgb(178, 48, 1);
  margin:0;
  padding:0;
  box-shadow:0 0 0px 2px rgb(178, 48, 1) inset;
}

.l-1-w-2{
  background-color:rgba(50,87,109,255);
  align-content:center;
  margin:0;
  padding:0;
  box-shadow:0 0 0px 2px rgba(50,87,109,255) inset;
}

.l-3-w-1{
  background-color:rgb(190, 0, 0);
  margin:0;
  padding:0;
  box-shadow:0 0 0px 2px rgb(190, 0, 0) inset;
}

.l-1-w-3{
  background-color:purple;
  margin:0;
  padding:0;
  box-shadow:0 0 0px 2px purple inset;
}

.l-2-w-2{
  background-color:rgba(85,115,20,255);
  margin:0;
  padding:0;
  box-shadow:0 0 0px 2px rgba(85,115,20,255) inset;
}

.played-square{
  display:flex;
  width:2.5vw;
  height:2.5vw;
  gap:0.25vw;
  background-color:rgb(200,156,84);
}

.played-square p:nth-child(1){
  display:flex;
  width:auto;
  height:auto;
  font-weight:bold;
  transform:translate(19px, 5px); 
}

.played-square p:nth-child(2){
  display:flex;
  width:auto;
  height:auto;
  transform:translate(20px, 16px);
}


/****************************/
/*    Tile Rack Style       */
/****************************/

.tile-rack-bag-wrapper{
  display:flex;
  flex-direction:row;
  width:100%;
}

.tile-rack-wrapper{
  transform:translate(0%, 35%);
  display:flex;
  flex-direction:column;
}

.tile-wrapper{
  grid-area:tiles;
  display:flex;
  align-items:center;
  justify-content:center;
  transform:translate(30%,35%);
  width:40vw; 
  z-index:1; 
  gap:5px;
}

.tile{
  display:flex;
  background-color:rgb(201, 145, 57);
  width:6vh;
  height:6vh;
  max-height: 6vh;
  max-width: 6vh;
  min-height: 4vh;
  min-width: 4vh;
  border-radius:5px;
}

.tile-letter{
  display:flex; 
  align-self:center;
  justify-self:center;
  transform:translate(250%);
}

.tile-value{
  transform:translate(380% , 70%);
}

.tile-rack{
  display:flex;
  align-self: center;
  justify-self:center;
  background-color: black;
  transform:translate(12vw, 1vh);
  height: 2vh;
  width: 50vh;
  max-height: 2vh;
  max-width: 55vh;
  min-height: 2vh;
  min-width: 50vh;
  border-radius: 10px;
}

.bag-icon-wrapper{
  display:flex;
  transform:translate(16vh, 4vh);
  background-color:rgb(78, 78, 78);
  border:0;
}

.bag-icon-wrapper > p{
  display:flex;
  transform:translate(-7vh, 2.5vh);
  color:white;
  font-size:25px;
}

.play-word-wrapper{
  display:flex;
}

#play-word-button{
  display:flex;
  width: 5vw;
  height:3vh;
  transform:translate(18vh, 8vh);
}

#play-word-button > p{
  display:flex;
  align-self: center;
  justify-self:center;
}

/****************************/
/* Chat lobby partial style */
/****************************/

.chat-messages-lobby {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 90vh;
  background-color: rgb(149, 146, 146);
  border: 1px solid black;
  border-radius: 5px;
}

.chat-incoming-lobby {
  display: flex;
  flex-direction: row;
  align-items: justify;
  width: 100%;
  height: 90%;
}

.chat-logs-lobby {
  height: 90%;
  width: 100%;
  padding-left: 3%;
  padding: 20px;
}

.chat-outgoing-lobby {
  display: flex;
  flex-direction: row;
  align-items: justify;
  justify-content: space-between;
  margin-block-start: auto;
  height: 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.chat-bar-lobby {
  align-self: flex-start;
  display: flex;
  flex-wrap: nowrap;
  order: 1;
  height: 90%;
  width: 75%;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

.chat-text-lobby {
  font-size: medium;
  width: 90%;
  height: 90%;
  float: center;
  margin: auto;
  overflow: scroll;
  border-style: none;
}

.chat-send-lobby {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  order: 2;
  height: 90%;
  width: auto;
  margin: auto;
  background-color: rgb(31, 194, 39);
  border: 1px solid black;
}

#send-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 18px;
  margin: auto;
  height: 100%;
  background-color: rgba(0, 128, 8, .10);
}

#send-text:hover {
  cursor: pointer;
}

#chat-text {
  justify-content: left;
  align-items: left;
  text-align: left;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 18px;
}

.message-lobby {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  margin: auto;
}

.message-break-lobby {
  height: 20%;
}

.message-header-lobby {
  padding-left: 5px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0%;
}

.message-content-lobby {
  padding-left: 10px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0%;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:100%;
  height: 10vh;
  background-color:rgb(230, 230, 230);
}

.player-section {
  display: flex;
  flex: 50%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.button-section {
  display: flex;
  flex: 20%;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-left: 300px;
}

.player-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
  font-size: 24px;
}

.leave-button {
  margin: 50px;
}

.start-button {
  margin: 50px;
}

/*********************/
/* Lobby page style  */
/*********************/

.lobby-chat-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  height: 90%;
  margin: 0;
}

.lobby-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: black;
}

.lobby-window {
  justify-content: center;
  display: flex;
  width: 100%;
  height: 90vh;
  background-color: rgb(230, 230, 230);
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.lobby-search-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width:50%;
  height: 5vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
  border-radius: 5px;
}

.inner-lobby {
  width:75%;
  height: 60vh;
  background-color:rgb(230, 230, 230);
  border: 1px solid black;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.lobby-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  background-color:rgb(200,156,84);
}

/*.inner-lobby {
  justify-content: center;
  align-items: center;
  align-self: center;
}*/

.player {
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 8vh;
  margin: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid black;
}

.player-text {
  color: black; 
}

.player-one-glow {
  /* green ->  rgb(85,115,21) */
  box-shadow: 0px 0px 15px rgb(115, 21, 21);
  border: 1px solid rgb(115, 21, 21);
}

.player-two-glow {
  /* blue - > rgb(51,86,109) */
  box-shadow: 0px 0px 15px rgb(51, 86, 109);
  border: 1px solid rgb(51, 86, 109);
}

.player-three-glow {
  /* green ->  rgb(85,115,21) */
  box-shadow: 0px 0px 15px rgb(85, 115, 21);
  border: 1px solid rgb(85, 115, 21);
}

.player-four-glow {
  /* yellow ->  rgb(85,115,21) */
  box-shadow: 0px 0px 15px rgb(184, 173, 17);
  border: 1px solid rgb(184, 173, 17);
}

/*********************/
/* index page style  */
/*********************/

#index-container{ 
  display:absolute;
  align-self:center;
  justify-self: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  width:23%;
  margin-left: 35%;
  margin-right:40%;
  margin-top:5%;
  overflow:hidden;
  text-shadow:0 0 1px darkgray;
  border-radius:5px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.6);
}

.background{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-self:center;
  justify-self: center;
  background-color: rgb(200,156,84);
  border-radius:5px;
  /* border not displaying  */
  border-color:rgb(0, 0, 0, 0.5); 
  border-width:5px;  
  margin:1vh;
}

.title-container{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  align-self:center;
  justify-self: center;
  border-radius:10px;
  border-color:rgba(0, 0, 0, 0.8);
  box-shadow:0 0 0px 2px rgba(0,0,0,0.2) inset;  
  margin:1vh;
  padding-left:2vh;
  padding-right:2vh;
}

.link-container{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-items:center;
  align-self:center;
  justify-self: center;
  background-color: rgb(200,156,84);
  border-radius:5px;
  border-color:rgba(0, 0, 0, 0.2);   
  margin:1vh;
  padding-bottom:10px;
}
